In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

1.Write a python program which searches all the product under a particular product from www.amazon.in. 
The product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search 
for guitars

In [2]:

driver=webdriver.Chrome(r"C:\Users\user3\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:

driver.get("https://www.amazon.in/s?k=sunglasses&crid=X355KKS47A75&sprefix=sunglasses%2Caps%2C568&ref=nb_sb_noss_1")

In [4]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.click()

In [37]:
brands=[]
product_name=[]
price=[]
exchange=[]
availability=[]

In [40]:
brand_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base-plus a-color-base"]')
for i in brand_tags[0:12]:
    brand=i.text
    brands.append(brand)
    
    
description_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base-plus a-color-base a-text-normal"]')
for i in description_tags[0:12]:
    description=i.text
    product_name.append(description)  
    
    
rate_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in rate_tags[0:12]:
    rate=i.text
    price.append(rate)
    
deliver_tags=driver.find_elements(By.XPATH,'//a[@class="a-link-normal"]')
for i in deliver_tags[0:12]:
    deliver=i.text
    exchange.append(deliver) 
    
available_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-success"]')
for i in brand_tags[0:12]:
    available=i.text
    availability.append(available)

In [41]:
print(len(brands),len( product_name),len(price),len(exchange),len(availability))

24 12 12 12 24

In [29]:
df=pd.DataFrame({'brands':brands,'product_name':product_name,'price':price,'exchange':exchange,'availability':availability})
df

,brands,product_name,price,exchange,availability
0,VINCENT CHASE EYEWEAR,Vincent Chase ATHLEISURE By Lenskart | Full Ri...,"1,999",,VINCENT CHASE EYEWEAR
1,VINCENT CHASE EYEWEAR,Vincent Chase By Lenskart | Full Rim Wayfarer ...,"1,999",,VINCENT CHASE EYEWEAR
2,VINCENT CHASE EYEWEAR,Vincent Chase By Lenskart | Full Rim Round Bra...,"2,500",,VINCENT CHASE EYEWEAR
3,VINCENT CHASE EYEWEAR,Vincent Chase By Lenskart | Full Rim Sports Br...,699,,VINCENT CHASE EYEWEAR
4,Fastrack,"Men Square Sunglasses , Black",699,,Fastrack
5,GAINX,Square UV Sunglass for Men & Women | 100% UV P...,799,,GAINX
6,ELEGANTE,Rectanglular Sunglasses for Women Retro Drivin...,999,,ELEGANTE
7,ELEGANTE,Men's Square Sunglasses,449,,ELEGANTE
8,Generic,Izaan Mart Women Retro Driving Rectangular Sun...,349,,Generic
9,VINCENT CHASE EYEWEAR,Vincent Chase By Lenskart | Full Rim Wayfarer ...,343,,VINCENT CHASE EYEWEAR
10,VINCENT CHASE EYEWEAR,Vincent Chase By Lenskart | Full Rim Round Bra...,272,,VINCENT CHASE EYEWEAR
11,Fastrack,"Men Square Sunglasses , Green",186,,Fastrack

In [44]:
brands=[]
product_name=[]
price=[]
exchange=[]
availability=[]

In [45]:
brand_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base-plus a-color-base"]')
for i in brand_tags[0:12]:
    brand=i.text
    brands.append(brand)
    
    
description_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base-plus a-color-base a-text-normal"]')
for i in description_tags[0:12]:
    description=i.text
    product_name.append(description)  
    
    
rate_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in rate_tags[0:12]:
    rate=i.text
    price.append(rate)
    
deliver_tags=driver.find_elements(By.XPATH,'//a[@class="a-link-normal"]')
for i in deliver_tags[0:12]:
    deliver=i.text
    exchange.append(deliver) 
    
available_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-success"]')
for i in brand_tags[0:12]:
    available=i.text
    availability.append(available)

In [46]:
print(len(brands),len( product_name),len(price),len(exchange),len(availability))

12 12 12 12 12

In [47]:
df=pd.DataFrame({'brands':brands,'product_name':product_name,'price':price,'exchange':exchange,'availability':availability})
df

,brands,product_name,price,exchange,availability
0,John Jacobs,Gold Brown Full Rim Aviator Branded Polarized ...,"1,999",,John Jacobs
1,John Jacobs,| UV Protection Sunglasses For Men & Women | S...,"1,999",4Flaunt Rectro Lite Retro Rectangular Vintage ...,John Jacobs
2,VINCENT CHASE EYEWEAR,Vincent Chase By Lenskart | Full Rim Wayfarer ...,"2,500",25,VINCENT CHASE EYEWEAR
3,VINCENT CHASE EYEWEAR,Vincent Chase ATHLEISURE By Lenskart | Full Ri...,"1,999",,VINCENT CHASE EYEWEAR
4,Fastrack,"Men Square Sunglasses, Brown","2,499",elegante Rectanglular Sunglasses for Women Ret...,Fastrack
5,Fastrack,"Men Square Sunglass, Transparent, L",699,"3,376",Fastrack
6,ROYAL SON,Women Cat Eye Sunglasses,699,,ROYAL SON
7,Fastrack,Men Classic Sunglasses (Black_66 millimeters_P...,549,Bowiemall® Rectangle Sunglasses for Women Men ...,Fastrack
8,Fastrack,"Men Square Sunglasses , Black",689,2,Fastrack
9,Dervin,Flat Design Rectangular Sunglasses for Men & W...,524,,Dervin
10,USARMANI,Women Cat Eye sunglasses Black Frame BLACK Len...,874,CREEK Rectanglular Sunglasses for Women Retro ...,USARMANI
11,EFERMONE,Aviator Polarized Sunglasses with 100% UV Prot...,679,1,EFERMONE

3. Write a python program to access the search bar and search button on images.google.com and scrape 10
images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

In [6]:
driver=webdriver.Chrome(r"C:\Users\user3\Downloads\chromedriver_win32\chromedriver.exe")

In [7]:
driver.get("https://images.google.com/")

In [8]:
driver.get("https://www.google.com/search?q=fruits&tbm=isch&source=hp&biw=1036&bih=520&ei=SdsyY8L-Fefl4-EPx6qg4AU&iflsig=AJiK0e8AAAAAYzLpWYYdmzVTNeb_sNaJLfSUoAqxsg_l&ved=0ahUKEwiCx7CU7LT6AhXn8jgGHUcVCFwQ4dUDCAc&uact=5&oq=fruits&gs_lcp=CgNpbWcQAzILCAAQgAQQsQMQgwEyCwgAEIAEELEDEIMBMgsIABCABBCxAxCDATIICAAQgAQQsQMyCwgAEIAEELEDEIMBMgsIABCABBCxAxCDATILCAAQgAQQsQMQgwEyCAgAEIAEELEDMgsIABCABBCxAxCDATILCAAQgAQQsQMQgwE6BQgAEIAEUABYuAhg5AloAHAAeACAAcQBiAHrBpIBAzAuNpgBAKABAaoBC2d3cy13aXotaW1n&sclient=img")

In [ ]:
4. Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on
www.flipkart.com and scrape following details for all the search results displayed on 1st page. Details to be 
scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”, 
“Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the 
details is missing then replace it by “- “. Save your results in a dataframe and CSV

In [2]:
driver=webdriver.Chrome(r"C:\Users\user3\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get("https://www.flipkart.com/")

In [4]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('oneplusnord')

In [5]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [42]:
brands=[]
Ram=[]
Rom=[]
primary_camera=[]
Display_size=[]
Battery=[]
Price=[]

In [43]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_4rR01T"]')
for i in brand_tags[0:7]:
    brand=i.text
    brands.append(brand)
       

ram_tags=driver.find_elements(By.XPATH,'//td[@class="URwL2w col col-9-12"]')
for i in ram_tags[0:7]:
    ram=i.text
    Ram.append(ram)    
    
    
brand_tags=driver.find_elements(By.XPATH,'//li[@class="rgWa7D"]')
for i in brand_tags[0:7]:
    brand=i.text
    primary_camera.append(brand)   
    

    
brand_tags=driver.find_elements(By.XPATH,'//li[@class="_21lJbe"]')
for i in brand_tags[0:7]:
    brand=i.text
    Display_size.append(brand)
    
brand_tags=driver.find_elements(By.XPATH,'//li[@class="_21Ahn-"]')
for i in brand_tags[0:7]:
    brand=i.text
    Battery.append(brand)
    
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3 _1_WHN1"]')
for i in brand_tags[0:7]:
    brand=i.text
    Price.append(brand)

In [44]:
print(len(brands),len(Ram_Rom),len(primary_camera),len(Display_size),len(Battery),len(Price))

7 7 7 0 0 7

In [45]:
df=pd.DataFrame({'brands':brands,'Ram':Ram_Rom,'primary_camera':primary_camera,'Price':Price})
df

,brands,Ram,primary_camera,Price
0,"OnePlus Nord CE 2 Lite 5G (Black Dusk, 128 GB)",6 GB RAM | 128 GB ROM,6 GB RAM | 128 GB ROM,"₹19,990"
1,"OnePlus Nord CE 2 Lite 5G (Blue Tide, 128 GB)",16.74 cm (6.59 inch) Display,16.74 cm (6.59 inch) Display,"₹19,999"
2,"OnePlus Nord 2T 5G (Jade Fog, 256 GB)",64MP Rear Camera,64MP Rear Camera,"₹33,867"
3,"OnePlus Nord 2T 5G (Jade Fog, 128 GB)",5000 mAh Battery,5000 mAh Battery,"₹28,940"
4,"OnePlus Nord CE 5G (Charcoal Ink, 128 GB)",12 months,12 months,"₹24,990"
5,"OnePlus Nord (Gray Onyx, 256 GB)",6 GB RAM | 128 GB ROM,6 GB RAM | 128 GB ROM,"₹29,999"
6,"OnePlus Nord (Gray Onyx, 64 GB)",16.74 cm (6.59 inch) HD+ Display,16.74 cm (6.59 inch) HD+ Display,"₹24,999"

 5.Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google
maps.

In [3]:
driver.get("https://www.google.com/maps")

In [4]:
from time import sleep

In [5]:
import os

In [9]:
pip install geopy

Collecting geopy
  Downloading geopy-2.2.0-py3-none-any.whl (118 kB)
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.52-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.52 geopy-2.2.0
Note: you may need to restart the kernel to use updated packages.

In [10]:
from geopy.geocoders import ArcGIS

In [11]:
#geopy library and arcgis for visualization

In [14]:
# create object
nom=ArcGIS()

In [15]:
#now lets with location
nom.geocode('kalpakkam')

Location(Pudupattinam, Thanjavur, Tamil Nadu, (10.766150000000039, 79.16575000000006, 0.0))

6. Write a program to scrap details of all the funding deals for second quarter (i.e Jan 21 – March 21) 
from trak.in

In [16]:
driver=webdriver.Chrome(r"C:\Users\user3\Downloads\chromedriver_win32\chromedriver.exe")

In [17]:
driver.get("https://trak.in/india-startup-funding-investment-2015/")

In [71]:
date=[]
names=[]
industry=[]
subvertical=[]
location=[]
investors=[]

In [72]:
name_tags=driver.find_elements(By.XPATH,'//td[@class="column-3"]')
for i in name_tags[0:7]:
    name=i.text
    names.append(name) 
    
dat_tags=driver.find_elements(By.XPATH,'//td[@class="column-2"]')
for i in dat_tags[0:8]:
    dat=i.text
    date.append(dat)

industries_tags=driver.find_elements(By.XPATH,'//td[@class="column-4"]')
for i in industries_tags[0:8]:
    industries=i.text
    industry.append(industries) 
    
sub_tags=driver.find_elements(By.XPATH,'//td[@class="column-5"]')
for i in sub_tags[0:8]:
    sub=i.text
    subvertical.append(sub)
    
loc_tags=driver.find_elements(By.XPATH,'//td[@class="column-6"]')
for i in loc_tags[0:8]:
    loc=i.text
    location.append(loc)
    
invest_tags=driver.find_elements(By.XPATH,'//td[@cclass="column-7"]')
for i in invest_tags[0:8]:
    invest=i.text
    investors.append(invest)

In [73]:
print(len(industry),len(date),len(subvertical),len(location),len(name))

8 8 8 8 8

In [83]:
df=pd.DataFrame({'date':date,'industry':industry,'subvertical':subvertical,'location':location})
df

,date,industry,subvertical,location
0,01/04/2021,Edu-tech,Online tutoring,Bengaluru
1,05/04/2021,E-commerce,Online reselling platform,Bengaluru
2,14/04/2021,Online Food Delivery,Online Food Delivery,Bengaluru
3,07/04/2021,FinTech,Investment platform,Bengaluru
4,14/04/2021,E-commerce,Global B2B marketplace,Mumbai
5,04/03/2021,E-commerce,Online shopping platform,"Jaipur, Rajasthan"
6,31/03/2021,Technology,Conversational Service Automation (CSA),Palo Alto
7,30/03/2021,E-commerce,Hyper-local delivery app,Bengaluru